amqp==5.2.0
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.2.0
autobahn==23.6.2
Automat==22.10.0
billiard==4.2.0
celery==5.3.6
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
constantly==23.10.4
cryptography==42.0.3
Django==5.0.2
dj-database-url==2.1.0
flower==2.0.1
gunicorn==21.2.0
humanize==4.9.0
hyperlink==21.0.0
idna==3.6
incremental==22.10.0
kombu==5.3.5
loguru==0.7.2
msgpack==1.0.7
netaddr==0.10.1
numpy==1.26.4
packaging==23.2
pandas==2.2.0
pillow==10.2.0
pipdeptree==2.14.0
prometheus-client==0.19.0
prompt-toolkit==3.0.43
psycopg2==2.9.9
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pyOpenSSL==24.0.0
pypng==0.20220715.0
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2024.1
qrcode==7.4.2
redis==5.0.1
requests==2.31.0
service-identity==24.1.0
six==1.16.0
sqlparse==0.4.4
tornado==6.4
txaio==23.1.1
typing-extensions==4.9.0
tzdata==2023.4
urllib3==2.2.0
vine==5.1.0
wcwidth==0.2.13
websockets==12.0
whitenoise==6.6.0
win32-setctime==1.1.0
zope.interface==6.2
django-celery-beat
markdown==3.7
weasyprint==65.1