<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static custom_tags %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="keywords" content="" />
        <meta name="author" content="DexignZone" />
        <meta name="robots" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{ dz_array.public.description }}" />
        <meta property="og:title" content="{{ dz_array.public.og_title }}" />
        <meta property="og:description" content="{{ dz_array.public.og_description }}" />
        <meta property="og:image" content="{{ dz_array.public.og_image }}" />
        <meta name="format-detection" content="telephone=no">


        <!-- PAGE TITLE HERE -->
        <title>{{ dz_array.public.title }}</title>
        
        <!-- FAVICONS ICON -->
        <link rel="shortcut icon" type="image/png" href="{% static dz_array.public.favicon  %}" />
        {% for cssurl in dz_array.pagelevel.megacellcnc.megacellcnc_views.css|getdata:request.path %}
        <link rel="stylesheet" href="{% static cssurl %}" >
        {% endfor %}
        {% for cssurl in dz_array.global.css %}
        <link rel="stylesheet" href="{% static cssurl %}">
        {% endfor %}
        {% block additional_css %}
        {% endblock %}
        
    </head>
    <body data-typography="poppins" data-layout="vertical" data-nav-headerbg="black" data-headerbg="color_1">

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
		<div class="lds-ripple">
			<div></div>
			<div></div>
		</div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->

        {% include 'megacellcnc/elements/nav-header.html' %}

        <!--**********************************
            Nav header end
        ***********************************-->
		
		<!--**********************************
            Chat box start
        ***********************************-->

        {% include 'megacellcnc/elements/chatbox.html' %}

		<!--**********************************
            Chat box End
        ***********************************-->
		
		<!--**********************************
            Header start
        ***********************************-->

        {% include 'megacellcnc/elements/header.html' %}

        <!--**********************************
            Header end 
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->

        {% include 'megacellcnc/elements/sidebar.html' %}
        <!--**********************************
            Sidebar end
        ***********************************-->
		

        {% block message %}
        {% endblock %}

        {% block content %}
        {% endblock %}
		
				
        <!--**********************************
            Footer start
        ***********************************-->

        {% include 'megacellcnc/elements/footer.html' %}
        <!--**********************************
            Footer end
        ***********************************-->


	</div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->

    {% for jsurl in dz_array.global.js.top %}
    <script src="{% static jsurl %}"></script>
    {% endfor %}
    
    {% for jsurl in dz_array.pagelevel.megacellcnc.megacellcnc_views.js|getdata:request.path %}
    <script src="{% static jsurl %}"></script>
    {% endfor %}
    
    {% for jsurl in dz_array.global.js.bottom %}
    <script src="{% static jsurl %}"></script>
    {% endfor %}
    
    {% block additional_js %}
    {% endblock %}

</body>
</html>