<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    {% load static custom_tags %}
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ dz_array.public.description }}" />
	<meta property="og:title" content="{{ dz_array.public.og_title }}" />
	<meta property="og:description" content="{{ dz_array.public.og_description }}" />
	<meta property="og:image" content="{{ dz_array.public.og_image }}" />
	<meta name="format-detection" content="telephone=no">
	
	<!-- PAGE TITLE HERE -->
	<title>{{ dz_array.public.title }}</title>
	
	<!-- FAVICONS ICON -->
	<link rel="shortcut icon" type="image/png" href="{% static dz_array.public.favicon  %}" />
    {% for cssurl in dz_array.pagelevel.megacellcnc.megacellcnc_views.css|getdata:request.path %}
    <link rel="stylesheet" href="{% static cssurl %}" >
	{% endfor %}
    {% for cssurl in dz_array.global.css %}
    <link rel="stylesheet" href="{% static cssurl %}">
	{% endfor %}
    {% block additional_css %}
	{% endblock %}
	
</head>

<body class="vh-100">
	<div class="authincation h-100">
		 <div class="container-fluid h-100">
			 <div class="row h-100">
				 <div class="col-lg-6 col-md-7 col-sm-12 mx-auto align-self-center">
					 <div class="login-form">
						 <div class="text-center">
							 <h3 class="title">Sign up your account</h3>
							 <p>Sign in to your account to start using megacellcnc</p>
						 </div>
						 <form action="{% url 'megacellcnc:index' %}">
							 <div class="mb-4">
								 <label class="mb-1 text-dark">Username</label>
								 <input type="text" class="form-control form-control" value="username">
							 </div>
							 <div class="mb-4">
								 <label class="mb-1 text-dark">Email</label>
								 <input type="email" class="form-control form-control" value="hello@example.com">
							 </div>
							 <div class="mb-4 position-relative">
								 <label class="mb-1 text-dark">Password</label>
								 <input type="password" id="dz-password" class="form-control" value="13456">
								 <span class="show-pass eye">
								 
									 <i class="fa fa-eye-slash"></i>
									 <i class="fa fa-eye"></i>
								 
								 </span>
							 </div>
							 <div class="form-row d-flex justify-content-between mt-4 mb-2">
								 <div class="mb-4">
									 <div class="form-check custom-checkbox mb-3">
										 <input type="checkbox" class="form-check-input" id="customCheckBox1" required="">
										 <label class="form-check-label" for="customCheckBox1">Remember my preference</label>
									 </div>
								 </div>
								 <div class="mb-4">
									 <a href="{% url 'megacellcnc:page-forgot-password' %}" class="btn-link text-primary">Sign in</a>
								 </div>
							 </div>
							 <div class="text-center mb-4">
								 <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
							 </div>
							 <h6 class="login-title"><span>Or continue with</span></h6>
							 
							 <div class="mb-3">
								 <ul class="d-flex align-self-center justify-content-center">
									 <li><a target="_blank" href="https://www.facebook.com/" class="fab fa-facebook-f btn-facebook"></a></li>
									 <li><a target="_blank" href="https://www.google.com/" class="fab fa-google-plus-g btn-google-plus mx-2"></a></li>
									 <li><a target="_blank" href="https://www.linkedin.com/" class="fab fa-linkedin-in btn-linkedin me-2"></a></li>
									 <li><a target="_blank" href="https://twitter.com/" class="fab fa-twitter btn-twitter"></a></li>
								 </ul>
							 </div>
							 <p class="text-center">Not registered?  
								 <a class="btn-link text-primary" href="{% url 'megacellcnc:page-register' %}">Register</a>
							 </p>
						 </form>
					 </div>
				 </div>
				 <div class="col-xl-6 col-lg-6">
					 <div class="pages-left h-100">
						 <div class="login-content">
							 <a href="index.html"><img src="{% static 'megacellcnc/images/logo-full.png' %}" class="mb-3 logo-dark" alt=""></a>
							 <a href="index.html"><img src="{% static 'megacellcnc/images/logo-white.png' %}" class="mb-3 logo-light" alt=""></a>
							 <p>CRM dashboard uses line charts to visualize customer-related metrics and trends over time.</p>
						 </div>
						 <div class="login-media text-center">
							 <img src="{% static 'megacellcnc/images/login.png' %}" alt="">
						 </div>
					 </div>
				 </div>
			 </div>
		 </div>
	 </div>

<!--**********************************
	Scripts
***********************************-->
<!-- Required vendors -->
{% for jsurl in dz_array.global.js.top %}
<script src="{% static jsurl %}"></script>
{% endfor %}

{% for jsurl in dz_array.pagelevel.megacellcnc.megacellcnc_views.js|getdata:request.path %}
<script src="{% static jsurl %}"></script>
{% endfor %}

{% for jsurl in dz_array.global.js.bottom %}
<script src="{% static jsurl %}"></script>
{% endfor %}

{% block additional_js %}
{% endblock %}
</body>
</html>