<!DOCTYPE html>
<html lang="en">

<head>
    {% load static custom_tags %}
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ dz_array.public.description }}" />
	<meta property="og:title" content="{{ dz_array.public.og_title }}" />
	<meta property="og:description" content="{{ dz_array.public.og_description }}" />
	<meta property="og:image" content="{{ dz_array.public.og_image }}" />
	<meta name="format-detection" content="telephone=no">
	
	<!-- PAGE TITLE HERE -->
	<title>{{ dz_array.public.title }}</title>
	
	<!-- FAVICONS ICON -->
	<link rel="shortcut icon" type="image/png" href="{% static dz_array.public.favicon  %}" />
    {% for cssurl in dz_array.pagelevel.megacellcnc.megacellcnc_views.css|getdata:request.path %}
    <link rel="stylesheet" href="{% static cssurl %}" >
	{% endfor %}
    {% for cssurl in dz_array.global.css %}
    <link rel="stylesheet" href="{% static cssurl %}">
	{% endfor %}
    {% block additional_css %}
	{% endblock %}
	
</head>

<body class="vh-100">
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="error-page">
						<div class="error-inner text-center">
                       <div class="dz-error" data-text="503">503</div>
                        <h4 class="error-head"><i class="fa fa-times-circle text-danger"></i> Service Unavailable</h4>
                        
						<div>
                           <a href="{% url 'megacellcnc:index' %}" class="btn btn-secondary">BACK TO HOMEPAGE</a>
                        </div>
                    </div>
					</div>
                </div>
            </div>
        </div>
    </div>

<!--**********************************
	Scripts
***********************************-->
<!-- Required vendors -->
{% for jsurl in dz_array.global.js.top %}
<script src="{% static jsurl %}"></script>
{% endfor %}

{% for jsurl in dz_array.pagelevel.megacellcnc.megacellcnc_views.js|getdata:request.path %}
<script src="{% static jsurl %}"></script>
{% endfor %}

{% for jsurl in dz_array.global.js.bottom %}
<script src="{% static jsurl %}"></script>
{% endfor %}

{% block additional_js %}
{% endblock %}
</body>
</html>