{% extends 'megacellcnc/elements/layouts/admin.html' %}
{% load static %}

{% block additional_css %}
{% endblock %}
{% block content %}

<!--**********************************
    Content body start
***********************************-->
<div class="content-body">
    <!-- row -->
    <div class="page-titles">
        <ol class="breadcrumb">
            <li><h5 class="bc-title">{{page_title}}</h5></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">
                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.125 6.375L8.5 1.41667L14.875 6.375V14.1667C14.875 14.5424 14.7257 14.9027 14.4601 15.1684C14.1944 15.4341 13.8341 15.5833 13.4583 15.5833H3.54167C3.16594 15.5833 2.80561 15.4341 2.53993 15.1684C2.27426 14.9027 2.125 14.5424 2.125 14.1667V6.375Z" stroke="#2C2C2C" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M6.375 15.5833V8.5H10.625V15.5833" stroke="#2C2C2C" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                Home </a>
            </li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">{{page_title}}</a></li>
        </ol>
        <a class="text-primary fs-13" data-bs-toggle="offcanvas" href="#offcanvasExample1" role="button" aria-controls="offcanvasExample1">+ Add Project</a>
    </div>
    <div class="container-fluid">
        <div class="row">



            <div class="d-flex justify-content-between align-items-center mb-3">
                <h5 class="mb-0">Projects List</h5>

            </div>

            <div class="col-xl-12 active-p">
                <div class="card">
                    <div class="card-body p-0">
                        <div class="table-responsive active-projects shorting">
                            <div class="tbl-caption">
                                <h4 class="heading mb-0">Projects</h4>
                            </div>
                            <table id="projects-tbl" class="table ItemsCheckboxSec">
                                <thead>
                                <tr>
                                    <th>
                                        <div class="form-check-all custom-checkbox ms-0">

                                            <input type="checkbox"  class="form-check-input" id="checkProjects" >
                                            <label class="form-check-label" for="checkAll"></label>
                                        </div>
                                    </th>
                                    <th>Project Name</th>
                                    <th>Device Count</th>
                                    <th>Creation Date</th>
                                    <th>Notes</th>
                                    <th>Status</th>
                                    <th>Total Cells</th>
                                </tr>

                                </thead>


                                <tbody>
                                {% for project in projects %}
                                <tr>
                                    <td>
                                        <div class="form-check custom-checkbox">
                                            <input type="checkbox" class="form-check-input" id="customCheckBox{{ forloop.counter }}" required="">
                                            <label class="form-check-label" for="customCheckBox{{ forloop.counter }}"></label>
                                        </div>
                                    </td>

                                    <td><a href="{% url 'megacellcnc:project-details' %}?proj_id={{ project.id }}">{{ project.Name }}</a></td>



                                    <td>{{ project.DevCnt }}</td>

                                    <td>{{ project.CreationDate|date:"d M Y" }}</td>

                                    <td>{{ project.Notes }}</td>

                                    <td>{{ project.Status }}</td>

                                    <td>{{ project.TotalCells }}</td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td  colspan="7" style="text-align:center;">

                                        No projects found
                                    </td>


                                </tr>

                                {% endfor %}



                                </tbody>



                            </table>
                        </div>
                    </div>
                </div>



            </div>


    </div>
</div>

<!--**********************************
    Content body end
***********************************-->
<div class="offcanvas offcanvas-end customeoff" tabindex="-1" id="offcanvasExample1">
    <div class="offcanvas-header">
        <h5 class="modal-title" id="#gridSystemModal1">Add New Project</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>
    <div class="offcanvas-body">
        <div class="container-fluid">




            <form  action="/project/" method="post" >
                {% csrf_token %}
                <div class="row">
                    <div class="col-xl-6 mb-3">
                        <label for="exampleFormControlInputfirst" class="form-label">Project Name<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="exampleFormControlInputfirst"  name="project_name" placeholder="Project Name">
                    </div>

                    <div class="col-xl-6 mb-3">
                        <label class="form-label">Cell Type<span class="text-danger">*</span></label>
                        <select class="default-select style-1 form-control" name="cell_type">
                            <option value="18650">18650</option> <!-- Added value attribute -->
                            <option value="21700">21700</option>
                            <option value="lifepo4">LifePo4</option>
                            <option value="other">Other</option> <!-- Changed value to 'other' -->
                        </select>
                    </div>

                    <div class="col-xl-12 mb-3">
                        <label class="form-label">Notes<span class="text-danger">*</span></label>
                        <textarea rows="3"  name="notes" class="form-control"></textarea>
                    </div>

                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>









        </div>
    </div>
</div>
{% endblock %}

{% block additional_js %}
<script>

    $(function() {
        $("#checkProjects").click(function() {
            $(".form-check input[type='checkbox']").prop("checked", $(this).prop("checked"));
        });
    });

</script>


<script>
    jQuery(document).ready(function(){
        {% if messages %}
        {% for message in messages %}
        // Assuming Toastr is already included and available
        // Adjust toastr.success to the appropriate function based on the message level if needed
        toastr.success("{{ message }}", "Awesome!", {
            timeOut: 500000000,
            closeButton: !0,
            debug: !1,
            newestOnTop: !0,
            progressBar: !0,
            positionClass: "toast-top-right",
            preventDuplicates: !0,
            onclick: null,
            showDuration: "300",
            hideDuration: "1000",
            extendedTimeOut: "1000",
            showEasing: "swing",
            hideEasing: "linear",
            showMethod: "fadeIn",
            hideMethod: "fadeOut",
            tapToDismiss: !1
        });
        {% endfor %}
        {% endif %}
    });
</script>

{% endblock %}

